{% extends 'base.html.twig' %}

{% block title %}{{ unAnimal.nom }} {% endblock %}

{% block monTitre %}affichage: {{ unAnimal.nom }} {% endblock %}



{% block body %}
<div class="row align-items-center">
    <div class="col-2 text-center">
        <img src="{{asset('images/' ~ unAnimal.image)}}">
    </div>
    <div class="col-auto">
            <div>Description: {{ unAnimal.description }}</div>
            <div>Poids: {{ unAnimal.poids }}</div>
            <div>Dangereux:
            {% if unAnimal.dangereux %}
                <span class="badge badge-danger">OUI</span>
            {% else %}
                <span class="badge badge-success">NON</span>
            {% endif %}
            </div>
            <div><a href="{{ path('afficher_famille',{'id':unAnimal.famille.id})}}" class="btn btn-primary">{{ unAnimal.famille.libelle}}</a></div>

    </div>

</div>



{% endblock %}
